<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="MagicDayEntities" connectionString="metadata=res://*/DataAccess.MagicDayDataModel.csdl|res://*/DataAccess.MagicDayDataModel.ssdl|res://*/DataAccess.MagicDayDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=MagicDayDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>